CONFIG_TARGET_meson=y
CONFIG_TARGET_meson_meson8b=y
CONFIG_TARGET_meson_meson8b_DEVICE_thunder-onecloud=y
CONFIG_TARGET_KERNEL_PARTSIZE=32
CONFIG_TARGET_ROOTFS_PARTSIZE=400
# CONFIG_TARGET_ROOTFS_SQUASHFS is not set

CONFIG_PACKAGE_luci-app-cpufreq=y
CONFIG_PACKAGE_luci-app-passwall2=y
CONFIG_PACKAGE_iptables-mod-socket=y
CONFIG_PACKAGE_iptables-mod-iprange=y
CONFIG_PACKAGE_iptables-mod-conntrack-extra=y
CONFIG_PACKAGE_sing-box=y
CONFIG_PACKAGE_luci-app-firewall=y
CONFIG_PACKAGE_luci-app-mosdns=y
CONFIG_PACKAGE_luci-app-openclash=y
CONFIG_PACKAGE_luci-app-opkg=y
CONFIG_PACKAGE_luci-theme-design=y
CONFIG_PACKAGE_luci-app-adbyby-plus=y
CONFIG_PACKAGE_luci-app-adguardhome=y
CONFIG_PACKAGE_luci-app-attendedsysupgrade=y
CONFIG_TARGET_luci-app-arpbind=y
CONFIG_TARGET_luci-app-autotimeset=y
CONFIG_TARGET_luci-app-diskman=y
CONFIG_TARGET_luci-app-filebrowser=y
CONFIG_TARGET_luci-app-eqos=y
CONFIG_TARGET_luci-app-netdata=y
CONFIG_TARGET_luci-app-mwan3=y
CONFIG_TARGET_luci-app-unblockneteasemusic=y
CONFIG_TARGET_luci-app-syncdial=y
CONFIG_TARGET_luci-app-statistics=y
CONFIG_TARGET_btop=y
CONFIG_TARGET_luci-app-argone-config=y
CONFIG_TARGET_luci-theme-argone=y
CONFIG_TARGET_luci-theme-edge=y
CONFIG_TARGET_luci-theme-design=y
CONFIG_TARGET_luci-theme-bootstrap=y
CONFIG_TARGET_luci-theme-alpha=y
CONFIG_TARGET_luci-theme-material=y
CONFIG_TARGET_luci-theme-openwrt-2020=y
CONFIG_TARGET_luci-app-argon-config=y
CONFIG_TARGET_luci-app-wolplus=y
CONFIG_TARGET_luci-app-vlmcsd=y
CONFIG_TARGET_luci-app-quickstart=y
CONFIG_TARGET_luci-app-netspeedtest=y
CONFIG_TARGET_luci-app-iptvhelper=y
CONFIG_TARGET_luci-app-turboacc=y
CONFIG_TARGET_luci-app-cloudreve=y
CONFIG_TARGET_luci-app-qbittorrent=y
CONFIG_TARGET_automount=y
CONFIG_TARGET_luci-app-watchcat=y
CONFIG_TARGET_luci-app-wechatpush=y
CONFIG_TARGET_luci-app-gowebdav=y
CONFIG_TARGET_luci-app-alist=y
CONFIG_TARGET_luci-app-cifs-mount=y
CONFIG_TARGET_luci-app-store=y
CONFIG_PACKAGE_default-settings=y
CONFIG_PACKAGE_default-settings-chn=y
